/* All */
.clear-both {
  clear: both;
}

/* -- Create new package -- */

/* General */
.commerce-fulfillment-content .container-creation {
  padding-bottom: 10px;
}
.commerce-fulfillment-content .container-creation .form-item-commerce-fulfillment-new-tracking-number,
.commerce-fulfillment-content .container-creation .form-item-commerce-fulfillment-package-type {
  float: left;
}
.commerce-fulfillment-content .container-creation .form-item-commerce-fulfillment-new-tracking-number label,
.commerce-fulfillment-content .container-creation .form-item-commerce-fulfillment-package-type label {
  display: inline-block;
}
.commerce-fulfillment-content .container-creation input.form-submit {
  margin: 0 10px;
}
.commerce-fulfillment-content .container-creation .ajax-progress {
  position: absolute;
  right: 0;
}
@keyframes pulse {
  0% {border-color: #C0C1BC;}
  50% {border-color: #0074BD;}
  100% {border-color: #C0C1BC;}
}
.commerce-fulfillment-content .container-creation input.highlight {
  border: 1px solid #0074BD;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.commerce-fulfillment-content .container-creation .hint {
  display: inline-block;
  color: #0074BD;
}

/* -- Table -- */

/* General */
.commerce-fulfillment-content .table {
  background: #FFF;
  border: 1px solid #C0C1BC;
  margin: 10px;
}
.commerce-fulfillment-content .table-unused-items,
.commerce-fulfillment-content .table-containers {
  margin-left: 0;
  margin-right: 0;
  min-width: 1120px;
}
.commerce-fulfillment-content .table .header {
  border-bottom: 1px solid #BEBFB9;
  text-transform: uppercase;
}
.commerce-fulfillment-content .table .header .field {
  border-left: 1px solid #BEBFB9;
}
.commerce-fulfillment-content .table .header .field:first-child {
  border-left: 0;
}
.commerce-fulfillment-content .table .row,
.commerce-fulfillment-content .table .header {
  font-size: 0;
}
.commerce-fulfillment-content .table .header .field,
.commerce-fulfillment-content .table .header .title,
.commerce-fulfillment-content .table .row .field {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}
.commerce-fulfillment-content a.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.commerce-fulfillment-content input.form-checkbox {
  opacity: 1;
}

/* Container Table (Packages/Shipments) */
.commerce-fulfillment-content .table-containers .description {
  margin: 10px;
}
.commerce-fulfillment-content .table-containers .row {
  border-top: 1px solid #BEBFB9;
}
.commerce-fulfillment-content .table-containers .row.ui-draggable-dragging {
  border: 1px solid #BEBFB9 !important;
  width: 700px;
}
.commerce-fulfillment-content .table-containers .row.first {
  border-top: 0;
}
.commerce-fulfillment-content .table-containers .row .field {
  padding: 10px;
}
.commerce-fulfillment-content .table-containers .form-type-checkbox {
  margin: 0;
}
/* Container Table (Packages) */
.commerce-fulfillment-content .table-containers .field-remove {
  width: 35px;
}
.commerce-fulfillment-content .table-containers .field-id {
  width: 100px;
}
.commerce-fulfillment-content .table-containers .field-type {
  width: 120px;
}
.commerce-fulfillment-content .table-containers .field-operations {
  width: 120px;
}
.commerce-fulfillment-content .table-containers .field-line-items {
  float: right;
  width: 720px;
}
.commerce-fulfillment-content .table-containers > .row > .field-line-items {
  padding: 0 !important;
}
/* Container Table (Shipments) */
.commerce-fulfillment-content .table-containers .field-tracking-number {
  width: 140px;
}
.commerce-fulfillment-content .table-containers .field-status {
  width: 80px;
}
.commerce-fulfillment-content .table-containers .field-shipping-operations {
  width: 140px;
}
.commerce-fulfillment-content .table-containers .field-packages {
  float: right;
  width: 720px;
}
.commerce-fulfillment-content .table-containers .row .field-packages {
  padding: 0 !important;
}

/* Items Table (Line Items/Packages) */
.commerce-fulfillment-content .row-add-more {
  padding: 10px;
  text-align: center;
  background: #F3F4EE;
}
.commerce-fulfillment-content .unused-items .row-add-more-attach {
  display: none;
}
.commerce-fulfillment-content .row-add-more-new {
  margin: 10px;
  border: 1px dashed #989898;
}
.commerce-fulfillment-content .row-add-more-attach {
  border-top: 1px dashed #989898;
}
.commerce-fulfillment-content .table-items {
  width: 700px;
}
/* Items Table (Line Items) */
.commerce-fulfillment-content .table-items .field-icon {
  width: 35px;
}
.commerce-fulfillment-content .table-items .field-sku {
  width: 140px;
}
.commerce-fulfillment-content .table-items .field-title {
  width: 300px;
}
.commerce-fulfillment-content .table-items .field-unit-price {
  width: 90px;
}
.commerce-fulfillment-content .table-items .field-quantity {
  width: 55px;
}
.commerce-fulfillment-content .table-items .field-quantity .form-item {
  padding: 0;
  margin: 0;
}
.commerce-fulfillment-content .table-items .field-quantity .form-item input {
  text-align: center;
}
.commerce-fulfillment-content .table-items .field-total-price {
  width: 75px;
}
/* Items Table (Packages) */
.commerce-fulfillment-content .table-items .field-id {
  width: 95px;
}
.commerce-fulfillment-content .table-items .field-type {
  width: 120px;
}
.commerce-fulfillment-content .table-items .field-operations {
  width: 130px;
}
.commerce-fulfillment-content .table-items .field-line-items {
  width: 315px;
}
.commerce-fulfillment-content .table-items .field-line-items div {
  display: inline-block;
}
.commerce-fulfillment-content .table-items .field-line-items div:not(:last-child)::after {
  content: ',';
  padding-right: 3px;
}

/* Items Table (Rows) */
.commerce-fulfillment-content .table-items .row-item-enabled {
  background: #FFF;
  font-size: 0;
  cursor: move;
}
.commerce-fulfillment-content .table-items .row-item-enabled:hover {
  background: #f2f2f2;
}
.commerce-fulfillment-content .table-items .row .field {
  display: inline-block;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}
.commerce-fulfillment-content .table-items .row .field-icon {
  vertical-align: middle;
  background: url(/misc/draggable.png) no-repeat 13px 0;
}
.commerce-fulfillment-content .table-items .row-item-enabled .field-icon:hover {
  background: url(/misc/draggable.png) no-repeat 13px -20px;
}
.commerce-fulfillment-content .table-items .row-item-disabled {
  opacity: 0.5;
}

/* Unused Items Table (Line Items/Packages) */
.commerce-fulfillment-content .table-unused-items {
  background: #F3F4EE;
}
.commerce-fulfillment-content .table-unused-items .description {
  margin: 10px;
  float: left;
}
.commerce-fulfillment-content .table-unused-items .unused-items {
  float: right;
  width: 720px;
}
.commerce-fulfillment-content .table-unused-items .row {
  margin-top: 3px;
}
.commerce-fulfillment-content .table-unused-items .table-items {
  background: none;
  border: none;
}
.commerce-fulfillment-content .table-unused-items .table-items .header {
  border: 1px solid #BEBFB9;
}
.commerce-fulfillment-content .table-unused-items .table-items .row {
  border: 1px solid #BEBFB9;
}
.commerce-fulfillment-content .table-unused-items .table-items .row-item-enabled:hover {
  border: 1px solid #767773;
}
.commerce-fulfillment-content .table-unused-items .row-add-more-attach {
  margin-top: 3px;
  border: 1px dashed #989898;
  width: auto;
}

/* Headers */
.commerce-fulfillment-content .table .header {
  background: #E1E2DC;
}
.commerce-fulfillment-content .table .header .title {
  text-transform: uppercase;
}

/* Hide div that gets recreated with form refresh */
.commerce-fulfillment-content .quantity-popup {
  display: none;
}

/* -- Drag and Drop -- */

/* General */
#edit-commerce-fulfillment-dnd {
  display: none;
}

/* Quantity Popup */
.ui-dialog-quantity-popup {
  background: #F3F4EE;
  border: 1px solid #989898;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(138, 138, 138, 0.65);
  -moz-box-shadow: 5px 5px 5px 0 rgba(138, 138, 138, 0.65);
  box-shadow: 5px 5px 5px 0 rgba(138, 138, 138, 0.65);
}
.ui-dialog-quantity-popup .ui-dialog-titlebar {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background: none;
}
.ui-dialog-quantity-popup .ui-dialog-titlebar .ui-icon{
  text-indent: 0;
  width: auto;
  height: auto;
  background: none;
}
.ui-dialog-quantity-popup .ui-dialog-titlebar .ui-state-hover{
  background: none;
}

.ui-dialog-quantity-popup .ui-dialog-buttonpane {
  padding: 0 0 10px 10px;
}
.ui-dialog-quantity-popup .ui-dialog-buttonpane .ui-button {
  padding: 4px 10px;
  color: #5A5A5A;
  font-size: 1em;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #B4B4B4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: #FFF;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
}
.ui-dialog-quantity-popup .ui-dialog-buttonpane .ui-state-hover {
  background: #E6E6E6;
}
.ui-dialog-quantity-popup .ui-dialog-content {
  display: inline-block;
  padding: 10px 10px 5px 10px;
  height: auto !important;
  border: none;
}
.ui-dialog-quantity-popup .ui-dialog-content input {
  width: 100%;
  background: #E1E2DC;
  text-align: center;
}

/* Draggable */
.table-unused-items .selected {
  border: 1px dashed #BEBFB9 !important;
  opacity: 0.5;
}
.table-containers .selected {
  opacity: 0.5;
}

/* Droppable */
.drop-hover {
  border-color: #3d3d3d !important;
  background: #d8d9d3 !important;
}
.drop-hover .row-add-more {
  border:1px dashed #3d3d3d !important;
}
