body {
  width: 820px;
}

/* Packing Slip */
#packing-header {
  float: left;
}

.customer-info {
  float: right;
}

.header-company img {
  max-width: 250px;
  max-height: 250px;
}

.customer-label {
  padding: 5px 150px 5px 0;
}

.main-table {
  width: 100%;
  border: 1px solid #aaa;
  margin-bottom: 0;
}

.main-table .empty-row td {
  padding: 17px 15px 16px;
}

.main-table td {
  padding: 9px;
}

.main-table tr:nth-of-type(even) td {
  background-color: #f5f5f5;
}

.packing-slip {
  padding: 0 20px;
}

.package-total {
  float: right;
}

/* Shipping Label */
.shipping-wrapper {
  float: left;
  width: 100%;
  border: 1px solid #000;
  padding: 25px;
}

.tracking-number {
  float: right;
}

.shipping-company {
  float: left;
}

.shipping-company img {
  max-width: 250px;
  max-height: 250px;
}

.customer-shipping-info {
  float: left;
  width: 100%;
  padding-bottom: 150px;
  text-align: center;
}

.customer-shipping-info p {
  font-size: 24px;
}

.customer-shipping-info .customer-label {
  margin: 0 auto;
  padding: 0;
}
